/* Основные стили таблицы */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 0 10px; /* Добавим немного отступов для предотвращения вылазки на маленьких экранах */
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin-bottom: 30px;
    overflow-x: auto; /* Добавляем прокрутку для контейнера */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
    max-width: 1200px;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px; /* Добавляем минимальную ширину, чтобы таблица не сжималась слишком сильно */
    max-width: 1200px;
}

th, td {
    color: #7d7b7b;
    padding: 15px 20px;
    border: 4px solid #fff;
    text-align: left;
    cursor: pointer;
    display: table-cell; /* Оставляем стандартное поведение ячеек таблицы */
}

td:nth-child(1) {
    width: 140px;
    background-color: #f5f5f5;
}

td:nth-child(2) {
    width: 130px;
    text-align: center;
    background-color: #EDF8FF;
}

td:nth-child(3) {
    width: 130px;
    text-align: center;
}

td:nth-child(4) {
    width: 130px;
    text-align: right;
}

th {
    background-color: #f2f2f2;
}

/* Классы для окраски ячеек */
.bg-blue {
    background-color: #e6f7ff;
}

.bg-green {
    background-color: #e6ffe6;
    color: #7d7b7b;
}

.bg-red {
    background-color: #ffe6e6;
    color: #7d7b7b;
}

.percent-green {
    color: green;
}

.percent-red {
    color: red;
}

.percent-neutral {
    color: gray;
}

.gray {
    color: #6c757d;
}

/* Контейнер для графика */
.chart-container {
    display: flex;
    justify-content: center;
    width: 70%;
    height: auto;
    overflow-x: auto; /* Прокрутка для контейнера с графиком */
    margin: 25px auto;
}

canvas {
    max-width: 100%; /* Ограничиваем ширину графика, чтобы он не вылазил */
    height: auto; /* Автоматическая настройка высоты для сохранения пропорций */
}

@media(max-width: 768px) {
    /* Убираем фиксированную ширину таблицы на маленьких экранах */
    .container {
        width: 100%;
        padding: 0 10px; /* Для отступов */
        min-width: 0;
    }

    table {
        min-width: 100%; /* Убираем минимальную ширину, чтобы таблица была адаптивной */
        width: 100%; /* Разрешаем таблице занимать всю ширину */
    }

    th, td {
        font-size: 14px; /* Уменьшаем шрифт для мобильных устройств */
        padding: 10px; /* Уменьшаем отступы */
    }

    td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4) {
        width: auto; /* Ширина ячеек автоматически подстраивается под содержимое */
    }

    /* Мобильный режим для графика */
    .chart-container {
        width: 90%; /* Уменьшаем ширину контейнера с графиком */
    }

    canvas {
        width: 100%; /* График будет подстраиваться по ширине */
        height: auto;
    }
}
